<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../Assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../Assets/css/style.css" />
  </head>

  <body>
    <!-- ----------------------------------------------------------Part 1 --------------------------- -->

    <section class="container-fluid Part-1">
      <div class="d-flex justify-content-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <h1 class="fs-5 fw-bold welcome-line">WELCOME TO KIDZONE</h1>
              <h1 class="display-3 fw-bold mt-4 lh-base">
                Learning is fun for <br />
                <span class="mt-5"> your child</span>
              </h1>
              <a href="#" class="btn btn-enroll mt-4">Enroll Now</a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="d-flex justify-items-end">
                <img
                  src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-029a956b--JSN-Kidzone-Home-2.png?v=1622516106"
                  class="img-fluid"
                  alt="img-top"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ----------------------------------------- Part 2--------------------------------------------- -->
    <section class="container-fluid Part-2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="d-flex justify-items-end">
              <img
                src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-9a956b56--JSN-Kidzone-Home-1.jpg?v=1622516399"
                class="img-fluid"
                alt="img-top"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <h1 class="Part-2-head-txt fw-bold welcome-line">
              MISSION AND PHILOSOPHY
            </h1>
            <h1 class="fw-bold mt-4">Our Mission</h1>
            <p class="Part-2-paragraph mt-4">
              Kidzone Kindergarten is committed to providing a program that
              focuses on the development of young children through a
              well-rounded experience and inspires a love of lifelong learning.
            </p>
            <p class="part-2-paragraph">
              We believe that children are born eager and ready to learn anytime
              for growing themselves!
            </p>
            <a href="#" class="btn learn-more-btn mt-3">Learn More</a>
          </div>
        </div>
      </div>
    </section>

    <!-- ----------------- Part 3 ------------------ -->

    <section class="container-fluid Part-3 text-center pb-4">
      <h1 class="part-3-head-txt fw-bold font-monospace" style=" font-size: 18px;
    color: #D92351;">UNIQUE BENEFITS</h1>
      <h1 class="fs-1 fw-bold">What We're Offering</h1>

      <div class="container d-flex justify-content-center pt-5">
        <div class="row justify-content-center gap-4 g-5">
          <div
            class="col-lg-4 col-md-12 col-sm-12 section-3-card pb-4 pt-4 rounded-4 shadow-sm"
            style="width: 23rem"
          >
            <div class="d-flex justify-content-center">
              <img
                src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-ed1713fa--JSN-Kidzone-Home-3.svg?v=1616554997"
                alt=""
              />
            </div>
            <h1>Teaching Method</h1>
            <p>
              Maintain a classroom full of warmth and acceptance. Our classroom
              is where your kids' opinions and ideas will be heard and valued.
            </p>
          </div>
          <div
            class="col-lg-4 col-md-12 col-sm-12 section-3-card pb-4 pt-4 rounded-4 shadow-sm"
            style="width: 23rem"
          >
            <img
              src="https://cdn.shopify.com/s/files/1/2170/1117/files/pf-1713fa6f--JSN-Kidzone-Home-4_1.svg?v=1697961183"
              alt=""
            />
            <h1>Outdoor Education</h1>
            <p>
              Rock Climbing, Mountaineering, Kayaking, River Rescue,Canoeing and
              many more help children become stronger and more active.
            </p>
          </div>
          <div
            class="col-lg-4 col-md-12 col-sm-12 section-3-card pb-4 pt-4 rounded-4 shadow-sm"
            style="width: 23rem"
          >
            <img
              src="https://cdn.shopify.com/s/files/1/2170/1117/files/pf-13fa6fff--JSN-Kidzone-Home-5.svg?v=1698023635"
              alt=""
            />
            <h1>Fun Awards</h1>
            <p>
              Most Caring, Best Manners, Most Thoughtful, The Silliest, Great
              Sharer, Biggest Smile, Great Listener,etc... which make kids feel
              special.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ----------------- Part 4 ----------------- -->

    <section class="Part-4">
      <div class="container-fluid Part-3 text-center pb-4">
        <h5 class=" fw-bold" style=" font-size: 18px;
    color: #D92351;">KIDZONE EDUCATION</h5>
        <h1 class="fs-1 fw-bold mt-4">Our Programmes</h1>

        <div class="container d-flex justify-content-center pt-5">
          <div class="row justify-content-center gap-4 g-5">
            <div
              class="col-lg-4 col-md-12 col-sm-12 section-4-card bg-light p-0"
              style="width: 23rem"
            >
              <div class="d-flex justify-content-center">
                <img
                  src="https://pagefly.myshopify.com/cdn/shop/articles/photo-1529672425113-d3035c7f4837.jpg?v=1638020637"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h1 class="text-start mt-3 ms-3">Playground Exercise</h1>
              <p class="text-start mt-3 ms-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-12 col-sm-12 Part-4-card bg-light p-0"
              style="width: 23rem"
            >
              <img
                src="https://pagefly.myshopify.com/cdn/shop/articles/photo-1526662092594-e98c1e356d6a.jpg?v=1638020691"
                class="img-fluid"
                alt=""
              />
              <h1 class="text-start mt-3 ms-3">Lesson Application</h1>
              <p class="text-start mt-3 ms-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-12 col-sm-12 Part-4-card bg-light p-0"
              style="width: 23rem"
            >
              <img
                src="https://pagefly.myshopify.com/cdn/shop/articles/photo-1565538420870-da08ff96a207.jpg?v=1638020585"
                class="img-fluid"
                alt=""
              />
              <h1 class="text-start mt-3 ms-3">Study session</h1>
              <p class="text-start mt-3 ms-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid que-sec d-flex justify-content-center">
        <div class="d-flex justify-content-center">
          <div class="container row justify-content-center g-5">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <h1 class="fw-bold welcome-line kidzone">KIDZONE Q&A</h1>
              <h1 class="fw-bold mt-4">Parent Information</h1>
              <p class="que-text mt-4">
                If the question that you are looking for is not listed, please
                send it to us and we will get back as soon as possible.
              </p>
              <p class="que-text">
                As your child enters kindergarten, we know that you probably
                have a lot of questions. We want to make sure that you and your
                child feel at home here at Webster, so we have come up with a
                list of the most frequently asked questions about this very
                important first year of school.
              </p>
              <a href="#" class="btn learn-more-btn mt-3 mb-5"
                >Send your question</a
              >
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="d-grid gap-3">
                <a href="#" class="question-mark">
                  + What are the general capabilities?</a
                >
                <a href="#" class="question-mark">
                  + What if my child gets sick?</a
                >
                <a href="#" class="question-mark">
                  + Is language course optional?</a
                >
                <a href="#" class="question-mark">
                  + What are your pick up procedures?</a
                >
                <a href="#" class="question-mark">
                  + Where can I buy school uniforms?</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- -------------- Part 5 ------------------- -->

    <section class="container-fluid Part-5">
      <div class="container text-center">
        <h2 class="fw-bold">PARENTS LOVE US</h2>
        <h1 class="fw-bold mt-3">What Parents Say</h1>
      </div>
    </section>

    <!-- ------------- Part 6 ------------------ -->

    <section class="container-fluid Part-6">
      <div class="d-flex justify-content-center">
        <div class="container">
          <h2 class="fw-bold text-center">KIDZONE STAFFS</h2>
          <h1 class="fw-bold mt-3 text-center">Meet Our Teachers</h1>

          <div
            class="d-flex justify-content-center align-items-center section-6-imgPrt"
          >
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="d-flex justify-content-center">
                  <img
                    src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-956b5623--JSN-Kidzone-Home-6.jpg?v=1622516405"
                    class="img-fluid"
                    width="300px"
                    alt=""
                  />
                </div>
                <div
                  class="d-flex justify-content-center align-items-center gap-3 mt-4"
                >
                  <i class="fa-brands fa-square-facebook"></i>
                  <i class="fa-brands fa-square-twitter"></i>
                  <i class="fa-brands fa-google"></i>
                </div>
                <h2 class="fs-5 text-center mt-2 fw-bold">ASHLEY ROSA</h2>
                <p class="text-center que-text">Music Teacher</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="d-flex justify-content-center">
                  <img
                    src="https://cdn.shopify.com/s/files/1/2170/1117/files/pf-23c89f91--JSN-Pixel-2-About-9.jpg?v=1698024379"
                    class="img-fluid"
                    width="300px"
                    alt=""
                  />
                </div>
                <div
                  class="d-flex justify-content-center align-items-center gap-3 mt-4"
                >
                  <i class="fa-brands fa-square-facebook"></i>
                  <i class="fa-brands fa-square-twitter"></i>
                  <i class="fa-brands fa-google"></i>
                </div>
                <h2 class="fs-5 text-center mt-2 fw-bold">JAMES BROWN</h2>
                <p class="text-center que-text">Physical Education Teacher</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="d-flex justify-content-center">
                  <img
                    src="https://cdn.shopify.com/s/files/1/2170/1117/files/SCR-20231022-nssw.png?v=1698023615"
                    width="300px"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div
                  class="d-flex justify-content-center align-items-center gap-3 mt-4"
                >
                  <i class="fa-brands fa-square-facebook"></i>
                  <i class="fa-brands fa-square-twitter"></i>
                  <i class="fa-brands fa-google"></i>
                </div>
                <h2 class="fs-5 text-center mt-2 fw-bold">CARLA HOUSTON</h2>
                <p class="text-center que-text">Math Teacher</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="d-flex justify-content-center">
                  <img
                    src="https://cdn.shopify.com/s/files/1/2170/1117/files/pf-5623c89f--JSN-Pixel-2-About-8.jpg?v=1698024384"
                    class="img-fluid"
                    width="300px"
                    alt=""
                  />
                </div>
                <div
                  class="d-flex justify-content-center align-items-center gap-3 mt-4"
                >
                  <i class="fa-brands fa-square-facebook"></i>
                  <i class="fa-brands fa-square-twitter"></i>
                  <i class="fa-brands fa-google"></i>
                </div>
                <h2 class="fs-5 text-center mt-2 fw-bold">DANIEL GARCIA</h2>
                <p class="text-center que-text">Technology Teacher</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ------------- Part 7 ----------------- -->

    <section class="container-fluid">
      <div class="container">
        <div class="row g-4 justify-content-center align-items-center">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="text-center">
              <h2 class="recong">KIDZONE RECOGNITION</h2>
              <h1 class="fw-bold">Our Awards</h1>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="d-flex justify-content-center">
              <img
                src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-9166e14b--JSN-Pixel-2-About-15.png?v=1622518357"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="d-flex justify-content-center">
              <img
                src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-c89f9166--JSN-Pixel-2-About-13.png?v=1622518348"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="d-flex justify-content-center">
              <img
                src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-9f9166e1--JSN-Pixel-2-About-14.png?v=1622518352"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ------------ Part 8 ----------------- -->

    <section class="Part-8 container-fluid">
      <div class="Part-3 text-center pb-4">
        <h1 class="section-3-head-txt fw-bold" style=" font-size: 18px;
    color: #D92351;">KIDZONE NEWS</h1>
        <h1 class="fs-1 fw-bold mt-4">Latest News & Activities</h1>

        <div class="container d-flex justify-content-center pt-5">
          <div class="row justify-content-center gap-4 g-5">
            <div
              class="col-lg-4 col-md-12 col-sm-12 Part-4-card bg-light p-0 pb-2"
              style="width: 22rem"
            >
              <div class="d-flex justify-content-center">
                <img
                  src="https://pagefly.myshopify.com/cdn/shop/articles/photo-1471286174890-9c112ffca5b4.jpg?v=1638020840"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <h1 class="text-start mt-3 ms-3">
                How outdoor activities can improve children's health
              </h1>
              <p class="text-start mt-3 ms-3">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque corrupti quos
                dolores et quas molestias .
              </p>
            </div>
            <div
              class="col-lg-4 col-md-12 col-sm-12 section-4-card bg-light p-0 pb-2"
              style="width: 22rem"
            >
              <img
                src="https://pagefly.myshopify.com/cdn/shop/articles/photo-1537655780520-1e392ead81f2.jpg?v=1638020963"
                class="img-fluid"
                alt=""
              />
              <h1 class="text-start mt-3 ms-3">
                Why saving time with your children is important
              </h1>
              <p class="text-start mt-3 ms-3">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque corrupti quos
                dolores et quas molestias
              </p>
            </div>
            <div
              class="col-lg-4 col-md-12 col-sm-12 section-4-card bg-light p-0 pb-2"
              style="width: 22rem"
            >
              <img
                src="https://pagefly.myshopify.com/cdn/shop/articles/photo-1542000551557-3fd0ad0eb15f.jpg?v=1638021088"
                class="img-fluid"
                alt=""
              />
              <h1 class="text-start mt-3 ms-3">
                Back to school season: What to prepare?
              </h1>
              <p class="text-start mt-3 ms-3">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque corrupti quos
                dolores et quas molestias
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- ------------------------------------- Part 9 -->
      <div class="d-flex">
        <div class="container last-section">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <h1 class="Part-2-head-txt fw-bold welcome-line">
                KIDZONE COMMUNITY
              </h1>
              <h1 class="fw-bold mt-4">Enlist Now!</h1>
              <p class="Part-2-paragraph mt-4">
                Kidzone Kindergarten is committed to providing a program that
                focuses on the development of young children through a
                well-rounded experience and inspires a love of lifelong
                learning.
              </p>
              <p class="Part-2-paragraph">
                We believe that children are born eager and ready to learn
                anytime for growing themselves!
              </p>
              <a href="#" class="btn learn-more-btn mt-3">Learn More</a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="d-flex justify-items-end">
                <img
                  src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-403473eb--JSN-Pixel-2-About-12.png?v=1616557422"
                  class="img-fluid"
                  alt="img-top"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
